#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Google Play Books
Exec=/opt/google/chrome/google-chrome --profile-directory=Default --app-id=hdcbiajfnegmhbacdkdjbeboifmnkjfg
Icon=chrome-hdcbiajfnegmhbacdkdjbeboifmnkjfg-Default
StartupWMClass=crx_hdcbiajfnegmhbacdkdjbeboifmnkjfg
